body{
    background-color: #ba68c8;
    font-family: "Railway", sans-serif;
    text-align: center;
    
   
}
input{
    width: 50%;
    padding: 10px;
}
p{
    color: black;
    font-size: 5vw;
}
#submitForm{
    
    background-color: aquamarine;
    border: 0;
    width: 50%;
    font-size: 1rem;
    
    
    
    
}
#getData{
    width: 42%;
    float: left;
}
#getList{
    width: 42%;
    float: right;
}